.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 100%;
  &__todo {
    border: none;
    text-align: center;
    outline: none;
    padding: 25px;
    font-size: 1rem;
    &__light{
      background-color: white;
      color: black;
    }
    &__dark{
      background:#171723;
      color: white;
    }
  }
  &__image{
      width: 1.875rem;
      height: 1.875rem;
  }
  &__light{
    background-color: white;
    color: black;
  }
  &__dark{
    background:#171723;
    color: white;
  }
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-inline: 2rem;
}

@media screen and (min-width:768px){
    .input-container{
        width: 34% !important;
    }
}