.tabs-container {
  width: 100%;
  margin-inline: 2rem;
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
}
.tabs-container > button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1.5rem;
  color: #97979f;
}
.priority-container {
  width: 100%;
  margin-inline: 2rem;
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
}
.priority-container > button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1.5rem;
}

@media screen and (min-width: 768px) {
  .tabs-container {
    width: 33%;
  }
  .priority-container {
    width: 33%;
  }
}
