.input-container {
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  &__todo {
    border: none;
    outline: none;
    padding: 16px;
    margin-left: 1rem;
  }
  &__image {
    width: 1.875rem;
    height: 1.875rem;
  }
  &__check{
    width: 30px;
    height: 30px;
  }
  &__cross{
    width: 30px;
    height: 30px;
  }
}

.input-container__text {
  padding: 1rem;
}
