.input-container {
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  &__child {
    display: flex;
    justify-content: space-between;
    &__checkmark {
      width: 30px;
      height: 30px;
      border: 2px solid lightgrey;
      border-radius: 50%;
      background-color: #00dbde;
      background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
      margin-top: 0.5rem;
    }
  }
  &__light {
    background-color: white;
    color:  rgb(23, 23, 35);
  }
  &__dark {
    background-color: rgb(23, 23, 35);
    color: white;
  }

  &__todo {
    border: none;
    outline: none;
    padding: 16px;
  }
  &__image {
    width: 1.875rem;
    height: 1.875rem;
  }
  &__check {
    width: 15px;
    height: 15px;
    /* padding-top: 1rem; */
    padding: 8px;
    display: flex;
    &:hover{
      cursor: pointer;
    }
  }
  &__cross {
    width: 20px;
    height: 20px;
    padding-top: 1rem;
    &:hover{
      cursor: pointer;
    }
  }
}

.input-container__text {
  padding: 1rem;
  &__completed{
    text-decoration: line-through;
  }
}
