.todo-container{
    background-image: url("../images/bg-mobile-light.jpg");
    background-size: cover;
    background-position: center;
    object-fit: contain;
    height: 500px;
   
}
.todo-container__theme{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}
.todo-container__heading{
    font-size: 3.5rem;
}